
@{
    ViewBag.Title = "Dashboard";
}


    <div class="page-header">
        <h4 class="page-title">@ViewBag.Title</h4>
        @*<ul class="breadcrumbs">
            <li class="nav-home">
                <a href="#">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">Base</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">Grid System</a>
            </li>
        </ul>*@
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="card p-3">
                        <div class="d-flex align-items-center">
                            <span class="stamp stamp-md bg-danger-gradient mr-3">
                                <i class="far fa-clone"></i>
                            </span>
                            <div>
                                <h5 class="mb-1"><b><a href="#">19 <small>Projects</small></a></b></h5>
                                <small class="text-muted">4 Unassigned</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="card p-3">
                        <div class="d-flex align-items-center">
                            <span class="stamp stamp-md bg-secondary-gradient mr-3">
                                <i class="fas fa-ticket-alt"></i>
                            </span>
                            <div>
                                <h5 class="mb-1"><b><a href="#">132 <small>Tickets</small></a></b></h5>
                                <small class="text-muted">12 Unassigned</small>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>


            <div class="alert alert-default" role="alert">
                This is a primary alert—check it out!
            </div>
            <div class="alert alert-primary" role="alert">
                This is a primary alert—check it out!
            </div>
            <div class="alert alert-secondary" role="alert">
                This is a secondary alert—check it out!
            </div>
            <div class="alert alert-success" role="alert">
                This is a success alert—check it out!
            </div>
            <div class="alert alert-danger" role="alert">
                This is a danger alert—check it out!
            </div>
            <div class="alert alert-warning" role="alert">
                This is a warning alert—check it out!
            </div>
            <div class="alert alert-info" role="alert">
                This is a info alert—check it out!
            </div>

        </div>
    </div>
